<mat-toolbar class="mat-elevation-z8">
<button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <span class="col-sm-10">The Character Database</span>
    <span class="col-sm-2" id='user-display'></span>
</mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <button mat-button class="menu-button" routerLink="/home">
        <span>Home</span>
      </button>
      <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/create-character">
            <span>Create Character</span>
        </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/view-characters">
        <span>View Characters</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/create-journal">
        <span>Create a Journal</span>
      </button>
      <button mat-button class="menu-button" routerLink="/open-journal">
        <span>Open Journal</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/resources">
        <span>Resources</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="logout()" id="logoutButton" style="display:none;">
        <span>Logout</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
