<div class="container">
    <form class="form-horizontal">
        <div class="row col-xs-4">
            <div class="col-sm-4">
                <label for="emailUser">Username or Email:</label>
                <input type="text" class="form-control" id="emailUser">
            </div>
        </div>
        <div class="row col-xs-4">
            <div class="col-sm-4">
                <label for="passwordInput">Password:</label>
                <input type="password" class="form-control" id="passwordInput">
            </div>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
