<div class="panel box-2">
    <section>
        <p class="panel-body">
            Welcome to a project management website. This is designed to help you manage projects from start to finish.<br>
            As a user, you are associated with a specific client and are able to manage multiple projects.
        </p>
        <p class="panel-body">
            Once logged in, you are greeted with a dashboard which provides an overview of all projects, statuses of your projects and any pending tasks.<br>
            You can also create new projects and assign team members to a task. Deadlines can also be set to help keep tasks on track.
        </p>
        <p class="panel-body">
            Each project is divided into separate tasks, of which can be in various stages of completion.
        </p>
        <p class="panel-body">
            This is a solution anyone who needs to manage multiple projects and tasks for a client. <br>
            Being easy to use, intuitive and efficient, it provides all the features needed to stay on top of everything.
        </p>
    </section>
</div>
