<section class="panel light-purple2 box2">
    <p class=" panel-body"> Hello, and welcome to "The character database". This site is designed to be a 'one stop' methodology for storing character information <br>
        This is in a "journal" as we'll call it here, where each character, item, spell, and weapon represents a "page". See the "About Site" for more.
    </p>
</section>
<section class="panel light-purple2 box2">
    <div class="panel-body">
        <p class = "description">General layout and how to use:</p>
        <hr class="sep">
        <ul>
            <li>Create a new character from, well.. "new character".</li>
            <li>View your existing characters on the characters page.</li>
            <li style="text-decoration: underline;">You will need to create an account (Here, it's called "Create Journal") to be able to add content.</li>
        </ul>
    </div>
</section>
<section class="panel light-purple2 box2">
    <div class="panel-body">
        <p class = "description">About the rest of the site</p>
        <hr class="sep">
        <ul>
            <li>"Home" will bring you right back to this page.</li>
            <li>The resources page has links to various off site character generators.</li>
        </ul>
    </div>
</section>