
<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span class="col-sm-10">Project management</span>
  <span class="col-sm-2" id='user-display'></span>
</mat-toolbar>
      
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" routerLink="/home">
      <span>Home</span>
    </button>

    <button mat-button class="menu-button" routerLink="/projects">
      <span>Projects</span>
    </button>

    <button mat-button class="menu-button" routerLink="tasks">
      <span>Tasks</span>
    </button>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>