<!--

    Tasks:
        Name is a text input.
        Task Description is a text-box.
        Task status is a dropdown with "Not yet started", "started / in progress", "complete", "on hold", "cancelled".
        Task Priority is also a drop-down with options. Have not decided if they are numbers or text based. With either it would be from low to high.
        Task Notes is for anything not covered by the description.
        Task assignee is for who is assigned to the task, and would be a standard text input.
-->